[Unit]
Description=Mazerunner Server

[Service]
Environment=PYTHON_PATH=/home/xnet/.local/lib/python3.5/site-packages
ExecStart=/usr/bin/python3 /home/xnet/server/global_server/scheduler_server.py
Restart=always

[Install]
WantedBy=multi-user.target