block navigation
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') SDTD Mazerunner
            div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li
                        a(href="/spark") Spark