extends layout

block content

    div.panel.panel-info
        div.panel-heading #{title}-Spark
        div.panel-body
            button.btn.btn-success(type="submit") Launch Spark Job

    div.panel.panel-info
        div.panel-heading #{title}-Spark-Result
        div.panel-body